{% extends 'base.html' %}
{% block 'main' %}

<div class="row">
    <div class="col-md-12">
      <h2>About us</h2>
      <hr>
      <p>At self drive cars, we are revolutionizing the way people experience transportation with our innovative self-drive car rental service. With a commitment to providing convenience, flexibility, and reliability, we empower our customers to explore the world on their terms.</p>
    </div>
  <div class="col-md-6">
      <h2>Vision</h2>
      <hr>
      <p>Whether you're embarking on a solo adventure, planning a family road trip, or simply need a reliable vehicle for everyday errands, [Company Name] is here to serve you. Experience the freedom of self-drive travel like never before—join us on the journey today!.</p>
  </div> 
  <div class="col-md-6">
      <h2>Mission</h2>
      <hr>
      <p>Our mission is to make transportation effortless and enjoyable for everyone. We aim to offer seamless self-drive experiences that enhance freedom, convenience, and peace of mind for our customers.</p>
  </div>  
  </div> <!-- about end--> 
  <!-- statistics start-->
  <h2 class="mt-4">statistic</h2>
  <hr>
  <div class="row">
  <div class="col-md-4 mt-4 shadow p-3">
      <h1 class="text-danger text-center">10000+</h1>
      <h3 class="text-center">Happy Customers</h3>
  </div>
  <div class="col-md-4 mt-4 shadow p-3">
      <h1 class="text-danger text-center">20000+</h1>
      <h3 class="text-center">Cars Delivered</h3>
  </div>
  <div class="col-md-4 mt-4 shadow p-3">
      <h1 class="text-danger text-center">600+</h1>
      <h3 class="text-center">Cars</h3>
  </div>
  </div>
  {% endblock %}